.friends-screen__channel {
  margin-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
