.welcome-header {
  margin: 70px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 28px;
  font-size: 18px;
}

.welcome-header__text {
  width: 70%;
  opacity: 0.5;
  font-size: 14px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

#login-form input {
  padding: 14px 0;
  border: none;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form button {
  padding: 14px 0;
  border: none;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.7;
}

#login-form button:active {
  background-color: var(--yellow);
}

#login-form button:first-of-type {
  margin-top: 30px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  margin-top: 15px;
}
