.more-screen .icon-row {
  margin-top: 30px;
}

.more-screen .icon-row__icon i {
  font-size: 25px;
}

.more-screen .icon-row__icon span {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.more-suggestions {
  border-top: var(--main-border);
}

.more-suggestions__icons {
  display: flex;
}

.more-suggestions__icon {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  width: 40px;
  height: 40px;
  background-color: var(--yellow);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-text {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.more-suggestions__icon-image i {
  font-size: 24px;
  color: white;
}

.more-suggestions__title {
  padding: 20px 0;
  font-size: 12px;
  font-weight: 600;
}
