.setting-list__item {
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.02);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting-list__item i {
  margin-right: 20px;
  font-size: 18px;
  opacity: 0.7;
}

.setting-list__item-column:last-child {
  opacity: 0.5;
}
