.icon-row {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 20px;
}
.icon-row__icon span {
  margin-top: 20px;
  font-size: 12px;
}
