.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
  padding: 18px 40px 46px 40px;
  border-top: var(--main-border);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e373d;
  position: relative;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  left: 15px;
  top: -5px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

@keyframes showBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__btn {
  opacity: 0;
  transform: translateY(50px);
  animation: showBtnAnimation 0.3s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}

.nav__btn:nth-child(3) {
  animation-delay: 0.5s;
}

.nav__btn:last-child {
  animation-delay: 0.8s;
}
