.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
  padding: 18px 40px 46px 40px;
  border-top: var(--main-border);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e373d;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 15px;
  top: -5px;
}
