.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
  padding: 16px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e373d;
}
