.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
  padding: 18px 40px 46px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e373d;
  position: relative;
}

.nav__notification {
  background-color: tomato;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 10px;
  position: absolute;
  left: 15px;
  top: -5px;
}
