#no-mobile {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: var(--yellow);
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

@media screen and (max-width: 550px) {
  #no-mobile {
    display: none;
  }
}
