.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
}

.screen-header__title {
  font-weight: 600;
  font-size: 20px;
}

.screen-header__icons span {
  margin-left: 20px;
  color: #454545;
}
