.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
}

.status-bar__column {
  display: flex;
  align-items: center;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:last-child .fa-wifi {
  margin: 0 5px;
}
