.user-component {
  padding: 0 18px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 50px;
  height: 50px;
  border-radius: 18px;
  margin-right: 15px;
}

.user-component__title {
  font-weight: 600;
}

.user-component__subtitle {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
}
